<!DOCTYPE html>
<html>
<head>
</head>

<body>
    <h1>List of Senators</h1>
    <table>
      <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>State</th>
        <th>Party</th>
        <th>Website</th>
      </tr>
      <% senators.forEach(function(r) { %>
      <tr>
        <td> <%= r.senid %> </td>
        <td> <%= r.fname %> </td>
        <td> <%= r.lname %> </td>
        <td> <%= r.state %> </td>
        <td> <%= r.party %> </td>
        <td> <%= r.website %> </td>
      </tr>
      <% }); %>
      <tr>
        <form action="/insert" method="post">
          <td> <input type="text" name="id"> </td>
          <td> <input type="text" name="fname"> </td>
          <td> <input type="text" name="lname"> </td>
          <td> <input type="text" name="state"> </td>
          <td> <input type="text" name="party"> </td>
          <td> <input type="text" name="website"> </td>
          <td> <input type="submit" value="submit"> </td>
        </form>
      <tr>
    </table>
</body>
</html>
