<!DOCTYPE html>
<html>
<head>
</head>

<body>
    <h1>Information for <%= results[0].fname %> <%= results[0].lname %></h1>
    <table>
      <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>State</th>
        <th>Party</th>
        <th>Website</th>
      </tr>
      <tr>
        <% if(!editing){ %>
          <td> <%= results[0].senid %> </td>
          <td> <%= results[0].fname %> </td>
          <td> <%= results[0].lname %> </td>
          <td> <%= results[0].state %> </td>
          <td> <%= results[0].party %> </td>
          <td> <%= results[0].website %> </td>
          <form action="/senator/<%= results[0].senid %>/edit">
            <td><input type="submit" value="Edit"></td>
          </form>
        <% } else { %>
          <form action="/senator/<%= results[0].senid %>" method="post">
            <td> <input type="text" name="id" value="<%= results[0].senid %>"> </td>
            <td> <input type="text" name="fname" value="<%= results[0].fname %>">  </td>
            <td> <input type="text" name="lname" value="<%= results[0].lname %>">  </td>
            <td> <input type="text" name="state" value="<%= results[0].state %>">  </td>
            <td> <input type="text" name="party" value="<%= results[0].party %>">  </td>
            <td> <input type="text" name="website" value="<%= results[0].website %>">  </td>
            <td><input type="submit" value="Submit"></td>
          </form>
        <% } %>
      </tr>
    </table>
    <h1>Sponsored Bills</h1>
    <table>
      <tr>
        <th>ID</th>
        <th>Bill Name</th>
        <th>Date of Introduction</th>
        <th>Most Recent Action</th>
        <th>Most Recent Action Date</th>
      </tr>
      <% results.forEach(function(r) { %>
      <tr>
        <td> <a href='/bill/<%= r.billid %>'><%= r.billid %></a> </td>
        <td> <%= r.billname %> </td>
        <td> <%= r.introduceddate %> </td>
        <td> <%= r.recentaction %> </td>
        <td> <%= r.recentactiondate %> </td>
      </tr>
      <% }); %>
    </table>
</body>
</html>
